.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}
textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  width: 23%;
  height: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
}


body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M1294.957%2c213.866C1332.508%2c214.608%2c1368.676%2c197.716%2c1388.442%2c165.78C1409.28%2c132.113%2c1411.497%2c90.197%2c1393.248%2c55.059C1373.447%2c16.932%2c1337.918%2c-13.965%2c1294.957%2c-14.223C1251.63%2c-14.483%2c1213.813%2c15.03%2c1194.598%2c53.864C1177.307%2c88.808%2c1186.94%2c129.181%2c1207.657%2c162.21C1226.914%2c192.911%2c1258.724%2c213.15%2c1294.957%2c213.866' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M230.845%2c226.197C273.177%2c226.451%2c295.315%2c181.006%2c316.572%2c144.397C337.97%2c107.546%2c366.471%2c65.802%2c345.527%2c28.691C324.411%2c-8.726%2c273.7%2c-10.562%2c230.845%2c-7.508C194.186%2c-4.895%2c159.237%2c11.126%2c141.366%2c43.241C123.944%2c74.55%2c131.14%2c111.191%2c146.882%2c143.378C165.393%2c181.228%2c188.712%2c225.944%2c230.845%2c226.197' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-4.516%2c206.812C19.172%2c208.429%2c46.618%2c204.676%2c57.804%2c183.733C68.663%2c163.402%2c52.838%2c141.251%2c41.095%2c121.418C29.692%2c102.159%2c17.861%2c78.89%2c-4.516%2c78.476C-27.283%2c78.055%2c-42.911%2c99.335%2c-53.147%2c119.675C-62.213%2c137.69%2c-63.486%2c158.513%2c-53.657%2c176.124C-43.57%2c194.199%2c-25.167%2c205.402%2c-4.516%2c206.812' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M351.508%2c490.313C377.808%2c492.008%2c400.779%2c473.48%2c413.571%2c450.438C425.977%2c428.091%2c427.212%2c400.377%2c413.362%2c378.894C400.467%2c358.892%2c375.302%2c353.728%2c351.508%2c354.17C328.664%2c354.595%2c304.629%2c361.16%2c293.513%2c381.122C282.618%2c400.688%2c291.404%2c423.464%2c301.909%2c443.242C313.369%2c464.818%2c327.129%2c488.742%2c351.508%2c490.313' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M196.198%2c194.726C217.52%2c194.811%2c239.427%2c185.66%2c248.782%2c166.5C257.381%2c148.887%2c247.103%2c129.316%2c236.031%2c113.143C226.702%2c99.515%2c212.658%2c91.034%2c196.198%2c89.685C176.495%2c88.07%2c154.284%2c89.175%2c143.181%2c105.531C131.029%2c123.433%2c133.282%2c147.483%2c144.337%2c166.082C155.152%2c184.277%2c175.032%2c194.641%2c196.198%2c194.726' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M708.888%2c196.831C744.968%2c198.596%2c780.092%2c181.364%2c798.712%2c150.41C817.893%2c118.523%2c818.729%2c78.093%2c799.465%2c46.255C780.817%2c15.434%2c744.876%2c0.374%2c708.888%2c1.953C675.555%2c3.416%2c646.962%2c24.286%2c631.109%2c53.644C616.054%2c81.524%2c617.971%2c114.467%2c633.095%2c142.309C649.017%2c171.62%2c675.572%2c195.201%2c708.888%2c196.831' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1198.141%2c506.28C1231.937%2c506.479%2c1270.584%2c502.565%2c1286.623%2c472.816C1302.228%2c443.873%2c1280.914%2c411.91%2c1264.327%2c383.518C1247.964%2c355.509%2c1230.542%2c322.94%2c1198.141%2c321.361C1163.948%2c319.695%2c1136.85%2c346.814%2c1119.756%2c376.475C1102.689%2c406.088%2c1093.782%2c442.524%2c1111.45%2c471.782C1128.681%2c500.317%2c1164.808%2c506.083%2c1198.141%2c506.28' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M502.637%2c493.74C559.314%2c492.552%2c614.707%2c471.189%2c644.718%2c423.096C676.522%2c372.13%2c680.846%2c307.538%2c651.563%2c255.083C621.571%2c201.359%2c564.059%2c164.966%2c502.637%2c168.586C446.005%2c171.924%2c409.984%2c222.067%2c381.299%2c271.011C352.15%2c320.747%2c322.274%2c378.653%2c349.853%2c429.276C378.195%2c481.301%2c443.406%2c494.981%2c502.637%2c493.74' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M389.839%2c451.407C421.801%2c450.548%2c441.657%2c420.131%2c456.705%2c391.919C470.613%2c365.844%2c480.461%2c335.116%2c465.441%2c309.666C450.6%2c284.52%2c419.036%2c278.97%2c389.839%2c278.619C359.812%2c278.258%2c326.969%2c282.364%2c311.018%2c307.807C294.309%2c334.459%2c301.31%2c368.112%2c316.446%2c395.688C332.287%2c424.547%2c356.93%2c452.291%2c389.839%2c451.407' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M555.916%2c37.641C572.032%2c37.219%2c585.982%2c27.119%2c593.695%2c12.962C601.072%2c-0.577%2c600.658%2c-16.878%2c592.871%2c-30.185C585.165%2c-43.354%2c571.146%2c-50.673%2c555.916%2c-51.593C538.636%2c-52.636%2c519.46%2c-49.876%2c510.329%2c-35.169C500.834%2c-19.877%2c504.994%2c-0.22%2c514.546%2c15.036C523.484%2c29.312%2c539.079%2c38.082%2c555.916%2c37.641' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M703.669%2c117.273C724.552%2c116.812%2c735.472%2c94.907%2c745.837%2c76.772C756.083%2c58.845%2c767.841%2c39.144%2c758.985%2c20.49C749.152%2c-0.222%2c726.596%2c-12.229%2c703.669%2c-12.05C681.036%2c-11.873%2c659.977%2c1.11%2c649.829%2c21.342C640.544%2c39.853%2c648.012%2c60.65%2c658.147%2c78.709C668.579%2c97.297%2c682.359%2c117.743%2c703.669%2c117.273' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M697.257%2c607.715C725.515%2c609.313%2c757.619%2c609.696%2c773.525%2c586.285C790.861%2c560.77%2c785.782%2c526.761%2c770.445%2c499.997C755.014%2c473.069%2c728.207%2c450.884%2c697.257%2c453.196C668.814%2c455.32%2c653.6%2c484.171%2c640.838%2c509.678C629.802%2c531.734%2c622.297%2c557.052%2c634.599%2c578.428C646.924%2c599.845%2c672.586%2c606.32%2c697.257%2c607.715' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M733.177%2c713.175C778.383%2c712.505%2c818.814%2c687.157%2c841.777%2c648.211C865.131%2c608.601%2c871.994%2c558.41%2c847.296%2c519.624C823.964%2c482.982%2c776.588%2c476.084%2c733.177%2c477.659C693.098%2c479.113%2c654.584%2c493.904%2c632.549%2c527.413C608.041%2c564.683%2c597.608%2c612.294%2c618.854%2c651.515C640.958%2c692.319%2c686.776%2c713.863%2c733.177%2c713.175' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M587.73%2c196.032C608.203%2c194.262%2c623.861%2c179.197%2c633.31%2c160.95C641.935%2c144.294%2c641.178%2c125.37%2c633.086%2c108.448C623.473%2c88.345%2c609.99%2c66.65%2c587.73%2c65.632C564.345%2c64.563%2c546.46%2c83.776%2c534.575%2c103.944C522.456%2c124.509%2c514.165%2c149.544%2c526.098%2c170.217C538.033%2c190.893%2c563.946%2c198.088%2c587.73%2c196.032' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M713.508%2c331.886C729.259%2c332.444%2c745.042%2c326.311%2c753.331%2c312.906C762.029%2c298.838%2c761.702%2c281.179%2c753.868%2c266.612C745.58%2c251.2%2c730.999%2c238.338%2c713.508%2c238.859C696.654%2c239.361%2c684.566%2c253.776%2c677.106%2c268.897C670.567%2c282.151%2c670.893%2c297.452%2c678.288%2c310.248C685.677%2c323.034%2c698.749%2c331.363%2c713.508%2c331.886' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M664.065%2c171.623C685.073%2c173.416%2c705.99%2c162.476%2c716.245%2c144.054C726.265%2c126.056%2c722.374%2c104.031%2c711.398%2c86.6C701.171%2c70.358%2c683.255%2c60.786%2c664.065%2c61.186C645.556%2c61.572%2c628.518%2c72.052%2c620.032%2c88.505C612.158%2c103.771%2c617.286%2c121.114%2c625.327%2c136.293C634.096%2c152.845%2c645.402%2c170.03%2c664.065%2c171.623' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(10px);
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
html, body {
  height: 100vh;
}


#white {
  color: white;
}
#red {
  color: rgb(255, 0, 0);
}

.textarea {
  font-family: inherit;
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  background: hsl(0deg 0% 75%);
  box-shadow: inset -1px -1px #292929, inset 1px 1px #fff,
    inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 5px 30px;
}

.btn:active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #292929,
    inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}

#qnt {
  width: 30%;
}
.btn,
#lowercase,
#uppercase,
#numbers,
#special {
  font-family: inherit;
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  background: hsl(0deg 0% 75%);
  box-shadow: inset -1px -1px #292929, inset 1px 1px #fff,
    inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 30px;
}

#score {
  color: #ffff;
  font-size: strong;
}

#emoji {
  font-size: 30px;
}



